<div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f5f5f5; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
  <h1 style="font-size: 36px; color: #333; margin-bottom: 20px; text-align: center;">Email Verification</h1>
  <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">Welcome to Batter Jobs! We're thrilled to have you join our community of talented job seekers.</p>
  <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">Verifying your email helps us ensure the security of your account and allows us to provide you with the best job opportunities tailored to your preferences.</p>
  <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">By verifying your email, you'll:</p>
  <ul>
    <li style="color: #333; margin-bottom: 10px;">Receive timely updates on new job listings matching your skills and interests.</li>
    <li style="color: #333; margin-bottom: 10px;">Gain access to exclusive job seeker resources and tips for career advancement.</li>
    <li style="color: #333; margin-bottom: 10px;">Join a vibrant community of like-minded professionals and expand your network.</li>
  </ul>
  <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 10px;">Take the first step towards unlocking your full potential by verifying your email now:</p>
  <div style="text-align: center;">
    <a href="<%= link %>" target="_blank" class="btn" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 15px 28px; border-radius: 30px; transition: background-color 0.3s ease;font-size: 16px;">Verify Email Address</a>
  </div>
  <p style="font-size: 18px; line-height: 1.6; color: #555; margin-top: 15px;">If your email address is already verified, you can ignore this email.</p>
  <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">Thanks,<br>Batter Jobs</p>
  <div class="footer" style="margin-top: 20px; font-size: 14px; color: #777; text-align: center;">
    <p>This is an automated email, please do not reply.</p>
  </div>
</div>