<div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f5f5f5; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
    <h1 style="font-size: 36px; color: #333; margin-bottom: 20px; text-align: center;">Email Verification</h1>
    <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">Welcome to Batter Jobs! We're excited to have you as part of our network of top recruiters.</p>
    <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">Verifying your email is crucial for maintaining the security of your account and ensuring seamless access to our premium recruitment features.</p>
    <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">By verifying your email, you'll:</p>
    <ul>
      <li style="color: #333; margin-bottom: 10px;">Stay informed about the latest talent pool updates and recruitment trends.</li>
      <li style="color: #333; margin-bottom: 10px;">Unlock exclusive tools and insights to streamline your hiring process and find the best candidates.</li>
      <li style="color: #333; margin-bottom: 10px;">Connect with a diverse community of skilled professionals and enhance your recruitment network.</li>
    </ul>
    <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 10px;">Begin optimizing your recruitment strategy by verifying your email now:</p>
    <div style="text-align: center;">
      <a href="<%= link %>" target="_blank" class="btn" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 15px 28px; border-radius: 30px; transition: background-color 0.3s ease;font-size: 16px;">Verify Email Address</a>
    </div>
    <p style="font-size: 18px; line-height: 1.6; color: #555; margin-top: 15px;">If your email address is already verified, you can disregard this message.</p>
    <p style="font-size: 18px; line-height: 1.6; color: #555; margin-bottom: 20px;">Thank you for choosing Batter Jobs as your recruitment partner.<br>Best regards, Batter Jobs</p>
    <div class="footer" style="margin-top: 20px; font-size: 14px; color: #777; text-align: center;">
      <p>This is an automated email. Please do not respond.</p>
    </div>
</div>